* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxygen", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

svg * {
  cursor: pointer;
}

h1.main-header {
  font-size: 60px;
  letter-spacing: -0.015em;
  line-height: 1.1em;
  color: #214f77;
}

.interactive-el {
  position: relative;
}

.hero {
  display: grid;
}

.hero-left {
  display: flex;
  flex-direction: column;
}

.hero.aerial {
  grid-template-columns: min-content auto;
}

.hero.floors {
  grid-template-columns: 1fr 1fr;
}

.claim-wrapper {
  padding: 30px;
  display: flex;
  min-width: 500px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}

.back {
  padding-bottom: 2em;
  cursor: pointer;
}

.back:hover {
  opacity: 0.7;
}

.back img {
  margin-right: 10px;
  display: inline-block;
}

.back span {
  color: #214f77;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 4px;
}

.hero.apartments {
  grid-auto-flow: unset;
  grid-template-columns: 30% 70%;
}

.label-floors {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  padding: 0 30px;
}

.label-floors .floor-name {
  font-size: 21px;
}

.label-aerial {
  background-color: white;
  display: inline;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  padding: 0.25em;
  font-size: 10px;
}

.sb {
  position: absolute;
  z-index: 1;
  overflow: hidden;
  height: 50px;
  bottom: 15px;
  left: 15px;
  pointer-events: none;
}

.sb__anim {
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sb__anim__inner {
  height: 50px;
  padding: 10px 20px 10px 10px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  border: 1px solid white;
  border-radius: 25px;
}

.sb__anim__inner span {
  color: white;
  font-size: 13px;
  text-transform: uppercase;
}

.sb__anim__inner img {
  height: 30px;
  width: auto;
  display: block;
  margin-right: 10px;
}

.sb__anim__inner .main.inactive {
  background-color: gray;
  color: white;
}
.sb__anim__inner .main {
  background-color: #d1b68c;
  color: #214f77;
  display: inline-block;
  padding: 0.25em 0.5em;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  border-radius: 1em;
  font-size: 15px;
  font-weight: bold;
}

.obj-label {
  position: absolute;
  background-color: white;
  transform: translate(-50%, -50%);
  pointer-events: none;
  text-transform: uppercase;
}

.obj-label.default {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  font-size: 12px;
}

.obj-label.floors {
  background: transparent;
  color: white;
  font-size: 21px;
}

@media screen and (max-width: 1200px) {
  .hero.aerial {
    grid-template-columns: 40% auto;
  }
  .hero.apartments {
    grid-template-columns: 40% 60%;
  }
  .hero.floors {
    grid-template-columns: 40% 60%;
  }
  h1.main-header {
    font-size: 40px;
  }
}
